<!DOCTYPE html>
<html>
<head>
  <title>Yelpdemo</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
      <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
              <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=311630749240317";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-comments" data-href="https://yelpodemo.herokuapp.com" data-numposts="6"></div>
</body>
</html>
